<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
  <label for="Subject"></label>
  <input type="text" name="subject" [(ngModel)]="query">
  <button (click)="searchPosts()">Submit</button>
  <div>
    <input type="text"
      placeholder="Search List"
      class="filter-input"
      [(ngModel)]="searchText">
  </div>
  <ul>
    <li *ngFor="let post of postList | searchBy: ['data.title']: [searchText]">
      <a href="{{post.data.url}}">
        {{ post.data.title }}
        <img src="{{post.data.thumbnail}}" alt="">
      </a>
      {{post.data.author}}
      {{post.data.ups}}
      {{post.data.created | date }}
    </li>
  </ul>
</div>
